html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  transition: all 1s ease;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* stylecss */
*,
html,
body {
  font-family: Poppins;
}
header {
  background-color: #404146;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 199;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 16px 16px;
  line-height: 15px;
  text-decoration: none;
  font-size: 12px;
}
.topnav a:hover {
  background-color: rgb(140, 214, 211);
  color: #404146;
  transition: all 0.3s ease;
}

.topnav a.active:hover {
  color: rgb(140, 214, 211);
  background-color: transparent;
}

.topnav a.active {
  color: white;
  font-weight: 700;
  letter-spacing: 4px;
}

.topnav .icon {
  display: none;
}
button#kirim:hover {
  background-color: rgb(248, 231, 119);
}
.navbar-logo h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3px;
  padding: 15px;
  margin-right: 20px;
}
.navbar-logo h1:hover {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3px;
  padding: 15px;
  margin-right: 20px;
  color: rgb(140, 214, 211);
}
.bar {
  display: none;
}

#jumbotron {
  text-align: center;
  margin-top: 120px;
}
.title,
p {
  color: #404146;
}
.title h1 {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 3px;
}
.title h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-top: 20px;
}
.title span {
  color: #rgb(241, 208, 14);
}
#about {
  text-align: center;
  margin-top: 130px;
}
.title h3 {
  font-weight: 800;
  padding: 20px;
  font-size: 18px;
}

.title p {
  font-size: 12px;
  font-weight: 200;
  max-width: 700px;
  line-height: 1.5;
  margin: auto;
}
#project {
  text-align: center;
  margin-top: 100px;
}
.title h4 {
  font-weight: 800;
  padding: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}
.list-image {
  display: flex;
  justify-content: space-evenly;
}
.list-image p {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 25px;
}
#contact {
  margin-top: 100px;
}
.title h3 {
  text-align: center;
}
.form {
  margin: 0px auto;
  max-width: 700px;
  padding: 20px;
  color: gray;
}
form input {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
  border: none;
  outline: none;
}
form textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
  border: none;
  outline: none;
}
button#kirim {
  display: block;
  cursor: pointer;
  width: 45%;
  margin: 25px auto;
  background-color: rgb(247, 233, 137);
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  box-shadow: 0px 10px rgb(215, 197, 77);
}
button#kirim:active {
  position: relative;
  top: 10px;
  box-shadow: none;
}
footer {
  margin-top: 70px;
  background-color: #7c7d82;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.footer-logo h1 {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3px;
}
.footer-list a {
  text-decoration: none;
  font-weight: 200;
  font-size: 12px;
  color: white;
  margin-bottom: 20px;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.7);
  }
  75% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

.image-ninja {
  animation-name: zoom-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#image1 {
  width: 100%;
  height: 200px;
}
#image2 {
  width: 100%;
  height: 200px;
}
#image3 {
  width: 100%;
  height: 200px;
}

.card-image:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.dark-mode {
  float: left;
  display: flex;
  background-color: #f1d00e;
  align-items: center;
  font-size: 10px;
  padding: 5px 9px;
  margin-top: 6.5px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  background-color: #1f1f1f;
}
.card-image {
  margin: 0 auto;
  max-width: 250px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 3px 2px rgba(219, 219, 219, 1);
  -webkit-box-shadow: 0px 0px 3px 2px rgba(219, 219, 219, 1);
  -moz-box-shadow: 0px 0px 3px 2px rgba(219, 219, 219, 1);
}
.description {
  margin: 15px 0px;
  padding: 0px 20px;
}
.description h5 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.description p {
  font-size: 12px;
  margin-bottom: 15px;
}

.description button {
  background-color: #fd7e90;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 5px 34%;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3 ease;
}
.description button:hover {
  background-color: rgb(244, 90, 112);
}
button.change {
  font-size: 10px;
  color: #1f1f1f;
  display: block;
  border: none;
  padding: 5px 6px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}
button.back,
button.ig {
  cursor: pointer;
  background-color: transparent;
}
.light-dark-mode {
  background-color: #1f1f1f;
  color: white !important;
}
.text-white {
  color: white;
}
video {
  margin: 50px auto;
  display: block;
  width: 280px;
  border-radius: 20px;
  border: none;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
}
#btn-back-to-top {
  position: fixed;
  bottom: 90px;
  right: 25px;
  display: none;
  border: none;
  z-index: 300;
}
.ig {
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: block;
  border: none;
  z-index: 300;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myModal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 120px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 200;
}

#modalContent {
  background-color: #fefefe;
  margin: 0 auto;
  text-align: center;
  padding: 20px 100px;
  width: 60%;
  height: 80%;
  box-sizing: border-box;
  line-height: 20px;
}
#closeModalIcon {
  color: #aaaaaa;
  float: right;
}
#imageModal {
  width: 200px;
}

#closeModalIcon:hover,
#closeModalIcon:focus {
  color: #000;
  cursor: pointer;
}

#openModalButton {
  margin-top: 20px;
  font-size: 12px;
  background-color: #404146;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#openModalButton:hover {
  background-color: #1f1f1f;
}
.project-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
#project {
  position: relative;
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}


.swiper {
  width: 950px;
}

.card-slide {
  position: relative;
  background: #fff;
  border-radius: 20px;
  height: 400px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  transition: all 0.2s ease;
}
.card-slide:hover {
  transform: scale(1.04);
}

.card-slide::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card-slide .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card-slide .image {
  height: 140px;
  width: 140px;
  border-radius: 20%;
  padding: 3px;
  margin-top: 30px;
}
section .card-slide #html {
  background-color: rgb(128, 223, 217);
}
section .card-slide #javascript {
  background-color: #b7cdef;
}
section .card-slide #nodejs {
  background-color: rgb(175, 235, 191);
}
section .card-slide #react {
  background-color: #99e9f5;
}
section .card-slide #ruby {
  background-color: #f9b7c1;
}
section .card-slide #java {
  background-color: #e4ceb0;
}

section .card-slide .image img {
  height: 95%;
  width: 95%;
  border-radius: 20%;
  border: 3px solid #fff;
}

.card-slide .media-icons {
  position: absolute;
  top: 12px;
  right: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-slide .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #404146;
}

.name-profession .name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.name-profession .profession {
  font-size: 12px;
  font-weight: 400;
}

.card-slide .rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card-slide .button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card-slide .button button {
  background: #fd7e90;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover {
  background: rgb(244, 90, 112);
}

.swiper-pagination {
  position: absolute;
  top: 450px;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: red;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: white;
  transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: white;
}
.modal-slider1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myModalSlider1 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 90px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}
#modalContentSlider1 {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  width: 60%;
}
#modalContentSlider1 h2 {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaaaaa;
}

#modalContentSlider1 p {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 10px;
}
.contentCardModal img {
  display: block;
  margin-top: 10px;
}
#modalContentSlider1 span {
  display: block;
  margin-bottom: 30px;
}

#closeModalIcon1 {
  color: #aaaaaa;
  float: right;
}

#closeModalIcon1:hover,
#closeModalIcon1:focus {
  color: #000;
  cursor: pointer;
}

.modal-slider2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myModalSlider2 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 90px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}
#modalContentSlider2 {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  width: 60%;
}
#modalContentSlider2 h2 {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaaaaa;
}

#modalContentSlider2 p {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 10px;
}
#modalContentSlider2 span {
  display: block;
  margin-bottom: 30px;
}

#closeModalIcon2 {
  color: #aaaaaa;
  float: right;
}
#closeModalIcon2:hover,
#closeModalIcon2:focus {
  color: #000;
  cursor: pointer;
}

.modal-slider3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myModalSlider3 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 90px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}
#modalContentSlider3 {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  width: 60%;
}
#modalContentSlider3 h2 {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaaaaa;
}

#modalContentSlider3 p {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 10px;
}
#modalContentSlider3 span {
  display: block;
  margin-bottom: 30px;
}

#closeModalIcon3 {
  color: #aaaaaa;
  float: right;
}
#closeModalIcon3:hover,
#closeModalIcon3:focus {
  color: #000;
  cursor: pointer;
}

.modal-slider4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myModalSlider4 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 90px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}
#modalContentSlider4 {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  width: 60%;
}
#modalContentSlider4 h2 {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaaaaa;
}

#modalContentSlider4 p {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 10px;
}
#modalContentSlider4 span {
  display: block;
  margin-bottom: 30px;
}

#closeModalIcon4 {
  color: #aaaaaa;
  float: right;
}
#closeModalIcon4:hover,
#closeModalIcon4:focus {
  color: #000;
  cursor: pointer;
}

.faq-title{
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #444;
  margin-top: 100px;
  margin-bottom: 50px;

}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-bottom: 1px #ccc solid;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  display: none;
  padding: 0 18px;
  background-color: white;
}

.panel p {
  padding: 15px 0;
  line-height: 1.5;
}
